<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <tittle>

        </title>Some Website</tittle>
    </head>
    <body>
        <h1>{{pageTitle}}</h1>

            <p>Some text here</p> 
        {{>footer}}
        
    </body>
</html>