<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <tittle>

        </title>Some Website</tittle>
    </head>
    <body>
       {{> header}}

        <p>{{ screamItWelcomeMessage}}</p>
        
        {{>footer}} 
    </body>
</html>