<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <tittle>

        </title>Some Website</tittle>
        </head>
        <body>
            <h1>{{welcomemessage}}</h1>
   {{>header}}
            
            <p>project page text would go here</p> 
        {{>footer}}
        
    </body>
</html>